#helloText {
    text-align : center;

}

#buttonON {
    text-align : center;
}

#buttonON:hover {
    opacity: 0,5;
}

#login-container {
    background-color: aquamarine;
    text-align: center;
    display: block;

}

#login-inputs {
    background-color: #a985c2;
    display : inline-grid;
}